:root {
  --bg-light: rgb(202, 168, 93);
  --bg-dark: rgb(22, 28, 105);
}

.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 5fr 30px;
  grid-template-areas: "chatRooms messages"
                       "addRoom sendMessage";
  height: 100vh;
}

.messageList {
  grid-area: messages;
  background: var(--bg-light);
}
.joinRoom {
  color: black;
  display: flex;
  justify-content: center;
}
.roomList {
  grid-area: chatRooms;
  background: var(--bg-dark);
}
.newRoomForm {
  grid-area: addRoom;
}
.sendMessageForm {
  grid-area: sendMessage;
}

.message {
  text-align: left;
}
.messageName {
  color: rgb(59, 59, 59);
  display: inline;
} 
.messageText {
  color: black;
  display: inline;
}

@media screen and (max-width: 550px) {
  .App {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 60px 7fr 30px;
    grid-template-areas: "chatRooms chatRooms"
                         "messages messages"
                         "addRoom sendMessage";                         ;
    height: 100vh;
  }

  .roomList h3 {
    display: none;
  }
  li {
    float: left;
  }

  .joinRoom {
    display: none;
  }
  .joinRoomMobile {
    display: block;
  }
}

@media screen and (min-width: 550px) {
  .joinRoom {
    display: block;
  }
  .joinRoomMobile {
    display: none;
  }
}
